<?xml version='1.0'?>

<robot name="scanner_bot_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- 2D LiDAR Plugin -->
  <gazebo reference="hokuyo_link">
    <sensor type="ray" name="head_hokuyo_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>100</samples>
            <resolution>1</resolution>
            <min_angle>-0.610865</min_angle>
            <max_angle>0.610865</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.7</min>
          <max>3.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>/rrbot/laser/scan</topicName>
        <frameName>hokuyo_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

<!-- Use 3D Lidar Plugin with width 1 -->
<!-- <gazebo reference="hokuyo_link">
  <sensor name="hokuyo_link_depth" type="depth">
    <update_rate>20</update_rate>
    <camera>
      <horizontal_fov>1.2217</horizontal_fov>
      <image>
        <width>640</width>
        <height>1</height>
        <format>R8G8B8</format>
      </image>
      <clip>
        <near>0.05</near>
        <far>3</far>
      </clip>
    </camera>
    <plugin name="hokuyo_link_controller" filename="libgazebo_ros_openni_kinect.so">
      <baseline>0.2</baseline>
      <alwaysOn>true</alwaysOn>
      <updateRate>1.0</updateRate>
      <cameraName>hokuyo</cameraName>
      <imageTopicName>/hokuyo/color/image_raw</imageTopicName>
      <cameraInfoTopicName>/hokuyo/color/camera_info</cameraInfoTopicName>
      <depthImageTopicName>/hokuyo/depth/image_raw</depthImageTopicName>
      <depthImageInfoTopicName>/hokuyo/depth/camera_info</depthImageInfoTopicName>
      <pointCloudTopicName>/hokuyo/depth/points</pointCloudTopicName>
      <frameName>hokuyo_link</frameName>
      <pointCloudCutoff>0.7</pointCloudCutoff>
      <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
      <distortionK1>0.00000001</distortionK1>
      <distortionK2>0.00000001</distortionK2>
      <distortionK3>0.00000001</distortionK3>
      <distortionT1>0.00000001</distortionT1>
      <distortionT2>0.00000001</distortionT2>
      <CxPrime>0</CxPrime>
      <Cx>0</Cx>
      <Cy>0</Cy>
      <focalLength>0</focalLength>
      <hackBaseline>0</hackBaseline>
    </plugin>
  </sensor>
</gazebo> -->

</robot>